.addevent{
    /* border: 2px solid red; */
    width: 60vw;
}




.addevent .form-label{
    font-size: 1.3rem;
    margin-top: 2rem;
}
.addevent .form-control{
    /* width: 70%; */
    height: 3rem;
    border: 2px solid lightgray;
    font-size: 1.2rem;
}
.addevent .form-select{
    /* width: 70%; */
    height: 3rem;
    border: 2px solid lightgray;
    font-size: 1.2rem;
}



.addevent .btn{
    font-size: 1.5rem;
    margin-top: 1rem;
    width: 10rem;


}
